[Desktop Entry]
Name=Nimbus Google Drive Client
Comment=A stable, fast rclone-based Google Drive client
Exec=nimbus-gdrive
Icon=drive-harddisk
Type=Application
Categories=Network;FileTransfer;
Terminal=false
StartupNotify=true
X-KDE-StartupNotify=true
